<nav>
    <div class="navbar container">

    <div class="logo"><a href="index.html"><img src="../assets/images/logo/logo-white.png" alt="logo"></a>
    </div>

    <ul class="nav-link">
        <li><a href="series.html">系列鏡框</a></li>
        <li><a href="store.html">門市據點</a></li>
        <li><a href="blog.html">部落格</a></li>
        <li><a href="faq.html">常見問題</a></li>
    </ul>
    
    </div>
</nav>