faq{
 
  @media (max-width: 768px){
      padding-top: 80px;
      padding-left: 12px;
      padding-right: 12px;
  }
  @media(max-width:604px){
      padding-top: 40px;
      padding-bottom: 64px;
  }
}

 .question{
  margin-right: 33.33%;
  @media (max-width: 768px){
      margin-right: 0;
  }
}

.title{
  display: flex;
  margin-bottom: 32px;
  margin-top: 176px;


h1{
  font-size: 48px;
  font-weight: bold;
  border-left: 4px solid var(--primary);
  padding-left: 16px;
}
}

@media(max-width:375px) {
  .faq h1{
      font-size: 24px;
  }
}

.faq-title h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.faq-content{
  margin-bottom: 80px;

 li{
  margin-bottom: 32px;


 h3{
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  }
 }
}